.App {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.Header {
  background-color: lightyellow;
  padding: 10px;
}

.Body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.formLabel {
  margin-right: 10px;
}


/*For the theme*/
:root {
  --main-bg-color: lightgray;
  --main-text-color: black;
}